<article class="about-article">
    <p>
        Welcome to my recipe finder app!
        If you're here, that means you're at least curious about who I am
        and what the goal of this webpage is.
        Well, it's simple really. I'm just a student of the craft of development and I wanted a fun project to work
        on
        outside of school. This is the current result. Perhaps you're reading this when the project is finished and
        you're enjoying all the weird recipes or perhaps nothing but a shell exists. Either way, I'm happy you're
        here.
    </p>
    <p> Why a recipe finder? Well, to that I'll answer, why not? Are there better, more elegant solutions to this
        problem out there?
        Most likely. But this is a project I found interesting, so this is what I decided to do with my spare time.
        Luv
        me cooking, 'ate wasting food, simple as.
    </p>
</article>