<article class="about-article">
    <p>
        Hi,
    </p>
    <p>
        I am glad you're curois about us, or me, and want to know more about this page. This is a simple project I made
        to test out angular
        for frontend purposes as well as ease myself into ASP.NET for the backend, as this project requries few
        endpoints
        and no actual need for things like users and login forms etc.
    </p>
    <p>So why a recipe finder? For starters, the reasons mentioned above. It is a fairly straight forward idea, that
        doesn't really need
        any fancy bells and whistles on the frontend to deliver a responsive and easy to use product.
        It is also a fairly straight forward concept on the backend. You put in ingredients you want to search for and
        the
        backend really only needs to check through the database. But also, because it is a concept I like. Who hasn't
        had
        a weird assortment of food leftover from the week before with no idea what to make of it. It's a waste of
        resources and
        also a waste of money. Neither are things one want to waste if at all possible, right? So wouldn't it be great
        to
        search for recieps by their ingredients and get a match? I think so.
    </p>
    <p>
        Has this been done before? Most certainly. Has it been done better. Very likely. Had I done a project like this
        before? Nope. So here we are. Hope you enjoy.
    </p>
</article>