.about-article {
    margin: 2.5rem;
    background: linear-gradient(180deg, #e77088, #f7c640) no-repeat;
    border: 1px transparent;
    border-radius: 1.2rem;
}

.about-article>p {
    margin: 1rem;
    font-family: 'Brush Script MT', cursive;
    color: whitesmoke;
}