/* Angular seems to create a router-outlet div, but this div doesn't actually contain the outlet content. 
Instead, the outlet content is inserted below this div as it's own component. I put this at display: none to prevent any funny business
an empty div might create in my css */
router-outlet {
    display: none;
}

app-root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

app-header {
    flex-shrink: 0;
}

/* START outlet components */

app-homepage {
    flex: 1;
    margin: 1rem;
    min-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

app-aboutpage {
    margin: 1rem;
    flex: 1;
    min-height: 0
}

/* END outlet components */

app-navigation {
    margin: 1rem;
    flex-shrink: 0;
}