router-outlet {
    display: none;
}

app-root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

app-header {
    flex-shrink: 0;
}

/* START outlet components */

app-homepage {
    flex: 1;
    margin: 1rem;
    overflow-y: auto;
    min-height: 0
}

app-aboutpage {
    margin: 1rem;
    flex: 1;
    overflow-y: auto;
    min-height: 0
}

/* END outlet components */

app-navigation {
    margin: 1rem;
    flex-shrink: 0;
}