.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid transparent;
    height: 5rem;
    width: 20rem;
    font-size: 1.5rem;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-ingredient {
    height: 2rem;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.single-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffedbc;
    border-radius: 8px;
    border: 1px solid transparent;
    height: 5rem;
    width: 20rem;
    margin-bottom: 2rem;
    transition: 1s ease;
}

.single-search>div {
    margin: 0.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}

.single-search:hover {
    border-color: #e77088;
    color: #e77088;
}

.search-tags {
    overflow: auto;
    flex: 1;
    margin: 1rem;
    min-height: 0;
    scrollbar-width: none;

}

.search-button {
    height: 5rem;
    width: 20rem;
    font-size: 1.5rem;
}

.cross {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
    margin: 0.25rem;
    z-index: 1000;
}

.cross:hover {
    cursor: pointer;
}

.cross span {
    height: 5px;
    width: 100%;
    background-color: #e77088;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cross span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.cross span:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}