/* You can add global styles to this file, and also import other style files */
@import url('./app/app.component.css');

@import url('./pages/homepage/homepage.component.css');

.branding {
    font-family: 'Brush Script MT', cursive;
    background: -webkit-radial-gradient(rgb(255, 255, 255, 1), rgb(255, 255, 255, 0.7));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(60deg, #e77088, #ffedbc) no-repeat;
    margin: 0;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6rem 1.2rem;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: #e77088;
    height: 5rem;
    min-width: 10rem;
    max-width: 20rem;
}

button:hover {
    border-color: #FFEDBC;
}